// *-*- info
$infoColor: #bcc0ff;
$infoBorder: #646cff;
$infoBg:rgb(100 108 255 / 8%);
// *-*- warning
$warningBg: rgb(255 197 23 / 5%);
$warningColor: #fcd253;
$warningBorder:rgba(255, 213, 0, 0.793);
// *-*- error
$errorBg: rgb(192 29 29 / 15%);
$errorColor: #ef8d8dfa;
$errorBorder:rgba(255, 25, 0, 0.322);
// *-*- success
$successBg: rgba(128, 246, 9, 0.127);
$successColor: #7acf58d6;
$successBorder:rgba(0, 255, 0, 0.322);
@mixin alert($name, $borderColor, $bgColor, $color) {
    .#{$name} {
        line-height: 1.5;
        border: 2px dotted $borderColor;
        margin: 30px;
        padding: 10px 20px;
        background-color: $bgColor;
        color: $color;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        .alert-header {
            margin: 5px 0 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                margin-right: 10px;
            }
            .close {
                cursor: pointer;
            }
            .title {
                display: flex;
                justify-content: center;
                align-items: center;
                h1 {
                    font-size: 20px;
                }
                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        p {
            margin: 10px 0;
        }
    }
}

@include alert(info, $infoBorder, $infoBg, $infoColor);
@include alert(warning, $warningBorder, $warningBg, $warningColor);
@include alert(error, $errorBorder, $errorBg, $errorColor);
@include alert(success, $successBorder, $successBg, $successColor);